
spring.application.name=webapphkh
server.port=8081


spring.datasource.url=jdbc:postgresql://localhost:5432/AppTA
spring.datasource.username=postgres
spring.datasource.password=123
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect


spring.jpa.database=postgresql
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.format_sql=true
spring.ai.openai.api-key=your_openai_api_key
spring.jpa.open-in-view=false

gemini.api.key=AIzaSyA2BMmmsRXOxknRXa55LPMkwt4RkmwMaqI
spring.jackson.serialization.INDENT_OUTPUT=true


# Cấu hình Gmail SMTP
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=huynhdonghuy0805@gmail.com
spring.mail.password=bqcwudoiqepueiwi
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true
